div {
  max-width: 350px;
}

button {
  margin: auto;
  max-width: 150px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.form-container > * {
  width: 100%;
}